<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors List</title>
</head>
<body>
<h1>Authors List</h1>
<table>
  <thead>
  <tr>
    <th>Author ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Bio</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="author : ${authors}">
    <td th:text="${author.id}"></td>
    <td th:text="${author.firstName}"></td>
    <td th:text="${author.lastName}"></td>
    <td th:text="${author.bio}"></td>
    <td>
      <a th:href="@{/authors/{id}(id=${author.id})}">View</a>
      <a th:href="@{/authors/{id}/edit(id=${author.id})}">Edit</a>
      <form th:action="@{/authors/{id}/delete(id=${author.id})}" method="post" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a href="/authors/new">Create New Author</a>
</body>
</html>