<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a simple EmailService bean -->
    <bean id="emailService" class="com.example.simple_spring_project.EmailService"/>

    <!-- Define the MyApplication bean and inject the emailService -->
    <bean id="myApp" class="com.example.simple_spring_project.MyApplication">
        <property name="messageService" ref="emailService"/>
    </bean>

</beans>